.idea
.txt
venv/
*.log
__pycache__/
.vscode
!requirements.txt
build/
dist/
!test.html
!test.txt
!test.py
webdriver/
download/
ChromeProfile/
ChromeProfile2/
*.csv
local_settings.py
account_info.yaml
test.py
*.1
*.2
*.3
*.4
*.bat
config.py